<template name="largePictureDisplaySection">
			<div class="row ">
				<div class="col-xs-6 col-md-3 ">
						<!-- all your great content here -->
						<div class="card-container ">
							<div class="card">
								<div class="front">
									<img class="img-responsive thumbnail showHideSmall" src="himym.jpg" >	
								</div>
								<div class="back ">
									<a href="/quizSection/HIMYM">Quiz</a>
								</div>
							</div>											
						</div>						
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="card-container">
						<div class="card">
							<div class="front">
								<img class="img-responsive thumbnail" src="got.jpg" >	
							</div>
							<div class="back">
								<a href="/quizSection/GOT">Quiz</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="card-container">
						<div class="card">
							<div class="front">
								<img class="img-responsive thumbnail" src="friends.jpg" >	
							</div>
							<div class="back">
								<a href="/quizSection/FRIENDS">Quiz</a>
							</div>
						</div>	
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="card-container">
						<div class="card">
							<div class="front">
								<img class="img-responsive thumbnail" src="thefosters.png" >	
							</div>
							<div class="back">
								<a href="/quizSection/TF">Quiz</a>
							</div>
						</div>	
					</div>
				</div>
			</div>	
	
	 
<!--				
	{{#if  rwindow.screen 'lte','small' }}
		{{> small}}	
	{{else}}			
		{{> large}}	
	{{/if}}
		
	Current jQuery(window).width() is {{rwindow.$width}}

-->
</template>

