<template name="smallPictureDisplaySection">
	<div class="container topSpace">
		<div class="row arrangeButton">
			<div class="col-sm-12">
				<a href="/quizSection/HIMYM" role="button" class="btn btn-info btn-block" >How I Met Your Mother</a>
			</div>
		</div>
		<div class="row arrangeButton">
			<div class="col-sm-12">
				<a href="/quizSection/GOT" role="button" class="btn btn-info btn-block">Game of Thrones</a>
			</div>
		</div>
		<div class="row arrangeButton">
			<div class="col-sm-12">
				<a href="/quizSection/FRIENDS" role="button" class="btn btn-info btn-block">Friends</a>
			</div>
		</div>
		<div class="row arrangeButton">
			<div class="col-sm-12">
				<a href="/quizSection/TF" role="button" class="btn btn-info btn-block">The Fosters</a>
			</div>
		</div>
	</div>

</template>